<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="predicts">
      {{predicts[0].emojiItem.emoji}} - {{predicts[0].confidence | percent}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <app-camera [targetPixels]="VIDEO_PIXELS" #camera></app-camera>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="predicts" class="ion-align-items-center">
        <ion-col>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
              <img [src]="predicts[0].emojiItem.path" />
            </ion-col>
            <ion-col size="auto">
              <table>
                <tr *ngFor="let predict of predicts">
                  <td>{{predict.emojiItem.emoji}}</td>
                  <td>{{predict.confidence | percent}}</td>    
                </tr>
              </table>
            </ion-col>  
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>